.stats {
    position: absolute;
    color: white;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.rules {
    position: fixed;
    top: 0;
    right: 0;
    color: white;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.win_display {
    width: 50%;

    position: fixed;
    left: 0;
    right: 0;

    margin: auto;
}
#player{
}
#playerOneColour{
}
#playerTwoColour{
}
#power{
}
#win{
    text-align: center;
}
